

ul, li{
	list-style: none;
}
@media (min-width: 1281px) {
#container337{
	width: 62%;
	margin: 30px auto;
	position: relative;
    bottom: -105px;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
#container337{
	width: 67%;
	margin: 30px auto;
	position: relative;
    bottom: -105px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
	#container337
{
position: relative;
    top: 133px;
    right: -142px;
}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#container337
{
position: relative;
    top: 133px;
    right: -142px;
}
}

@media (min-width: 481px) and (max-width: 767px) {
#container337
{
position: relative;
    top: 133px;
    right: -142px;
}
}
	
@media (min-width: 320px) and (max-width: 480px) {
#container337
{
position: relative;
    top: 133px;
    right: -142px;
}
}
.faq li{
	padding: 20px;
}
.caret123
{
	position: relative;
    right: -892px;
}
.faq li.q{
	cursor: pointer;
    width: 944px;
    height: 77px;
    position: relative;
    left: -85px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8.35245px rgb(0 0 0 / 25%);
    border-radius: 8.35245px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 22.2732px;
    line-height: 26px;
    text-transform: uppercase;
    color: #CE202F;
}

.faq li.a{
	display: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 13.92px;
    line-height: 16px;
    position: relative;
    left: -81.89px;
    color: rgb(51, 51, 51);
    width: 937px;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 8.35245px;
    top: 0px;
    border-radius: 8.35245px;
}

.rotate{
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
